# Essential libraries
pandas
numpy

# Visualizations
matplotlib
seaborn
plotly-express

# Machine Learning
scikit-learn

# Web Scraping
selenium
beautifulsoup4

# APIs & scripts
streamlit


# Miscellanea
json
ssl
